name: Main

on:
  push:
    branches:
      - main

  pull_request:

jobs:
  check-workflows:
    name: Check workflows
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Download actionlint
        id: download-actionlint
        run: bash <(curl https://raw.githubusercontent.com/rhysd/actionlint/e7d448ef7507c20fc4c88a95d0c448b848cd6127/scripts/download-actionlint.bash) 1.7.8
        shell: bash
      - name: Check workflow files
        run: ${{ steps.download-actionlint.outputs.executable }} -color
        shell: bash

  prepare:
    name: Prepare
    runs-on: ubuntu-latest
    needs:
      - check-workflows
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Install poetry
        run: pipx install poetry
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.14
          cache: poetry
      - name: Install dependencies
        run: poetry install

  lint:
    name: Lint
    runs-on: ubuntu-latest
    needs:
      - prepare
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Install poetry
        run: pipx install poetry
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.14
          cache: poetry
      - name: Install dependencies
        run: poetry install
      - name: Lint
        run: poetry poe lint

  format:
    name: Format
    runs-on: ubuntu-latest
    needs:
      - prepare
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Install poetry
        run: pipx install poetry
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.14
          cache: poetry
      - name: Install dependencies
        run: poetry install
      - name: Check formatting
        run: poetry poe format --check

  check-hacs:
    name: Check HACS compatibility
    runs-on: ubuntu-latest
    needs:
      - prepare
    steps:
      - name: Check HACS compatibility
        uses: hacs/action@22.5.0
        with:
          category: integration
